Repository trosvald/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/taskfiles, area/talos, area/kubernetes, area/terraform

fix(actions): fix actions config labeler
  .github/workflows/meta-labeler.yaml
Labels: area/ci

fix(actions): test selfhosted runner
  .github/workflows/flux-diff.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/ci

fix(actions): change self hosted label
  .github/workflows/flux-diff.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/ci

fix(actions): add actionlint
  .github/actionlint.yaml
  .github/workflows/flux-diff.yaml
Labels: area/ci

fix(actions): renovate
  .github/renovate.json5
Labels: area/ci

fix(actions): add actiont lint
  .github/workflows/lint.yaml
Labels: area/ci

fix(actions): fix megalinter job permission
  .github/workflows/lint.yaml
Labels: area/ci

fix(actions): fix megalinter job permission
  .github/workflows/lint.yaml
Labels: area/ci

fix(actions): fix megalinter git diff disable fetch-depth
  .github/workflows/lint.yaml
Labels: area/ci

fix(actions): fix megalinter git diff enable fetch-depth
  .github/workflows/lint.yaml
Labels: area/ci

fix(actions): fix fallback using hosted runner
  .github/workflows/lint.yaml
Labels: area/ci

fix(actions): fix renovate bot
  .github/renovate.json5
Labels: area/ci

fix(helm-chart): update chart grafana to 7.0.9
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update image ghcr.io/esphome/esphome to v2023.11.6
  kubernetes/apps/home-automation/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(kubernetes): test different action runner image
  kubernetes/apps/dev/actions-runner-controller/runners/home-cluster.yaml
Labels: area/kubernetes

fix(kubernetes): test different action runner image
  .github/labels.yaml
Labels: area/ci

feat(kubernetes): reconfigure vector aggregator config
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: area/kubernetes

fix(actions): reconfigure action workflow config
  .github/workflows/flux-diff.yaml
  .github/workflows/lint.yaml
Labels: area/ci

fix(actions): reconfigure action workflow config
  .github/workflows/flux-diff.yaml
  .github/workflows/lint.yaml
Labels: area/ci

fix(kubernetes): reconfigure vyos sink vector aggregator
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: area/kubernetes

fix(kubernetes): rollback vyos vector aggregator config
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: area/kubernetes

feat(kubernetes): add action-runner for vyos-config repo
  kubernetes/apps/dev/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/vyos-config.yaml
Labels: area/kubernetes

ci(github-action): update fluxcd/flux2 digest to f20fe76
  .github/workflows/flux-diff.yaml
Labels: area/ci

feat(docker-image)!: Update image ghcr.io/paperless-ngx/paperless-ngx to v2
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(deps): update budimanjojo/talhelper to 1.16.0
  .taskfiles/Talos.yaml
Labels: area/taskfiles

fix(kubernetes): fixing vyos log transform on vector aggregator
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: area/kubernetes

feat(kubernetes): reconfigure loki and grafana
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/prometheus-rule.yaml
  kubernetes/apps/monitoring/loki/app/servicemonitor.yaml
Labels: area/kubernetes

feat(kubernetes): reconfigure loki and grafana
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
Labels: area/kubernetes

feat(kubernetes): reconfigure loki and grafana
  kubernetes/apps/monitoring/loki/app/servicemonitor.yaml
Labels: area/kubernetes

feat(helm-chart): update chart loki to 5.39.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart grafana to 7.0.11
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(kubernetes): add kafka cluster to database
  kubernetes/apps/database/kafka/app/externalsecret.yaml
  kubernetes/apps/database/kafka/app/kafka-cluster.yaml
  kubernetes/apps/database/kafka/app/kafka-user.yaml
  kubernetes/apps/database/kafka/app/kustomization.yaml
  kubernetes/apps/database/kafka/app/patches/kafka-cluster-kafka-external-1.yaml
  kubernetes/apps/database/kafka/app/topic.yaml
  kubernetes/apps/database/kafka/ks.yaml
  kubernetes/apps/database/kafka/monitoring/kafka-cluster.yaml
  kubernetes/apps/database/kafka/monitoring/kafka-exporter.yaml
  kubernetes/apps/database/kafka/monitoring/kustomization.yaml
  kubernetes/apps/database/kafka/monitoring/metrics-config.yaml
  kubernetes/apps/database/kafka/monitoring/pod-monitoring.yaml
  kubernetes/apps/database/kafka/operator/helmrelease.yaml
  kubernetes/apps/database/kafka/operator/kustomization.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/flux/repositories/helm/kafka-ui.yaml
  kubernetes/flux/repositories/helm/kafka.yaml
Labels: area/kubernetes

feat(kubernetes): add piped apps to selfhosted
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/piped/app/helmrelease.yaml
  kubernetes/apps/selfhosted/piped/app/kustomization.yaml
  kubernetes/apps/selfhosted/piped/app/postgresCluster.yaml
  kubernetes/apps/selfhosted/piped/ks.yaml
  kubernetes/flux/repositories/helm/piped.yaml
Labels: area/kubernetes

fix(kubernetes): fixing piped helmrelease
  kubernetes/apps/selfhosted/piped/ks.yaml
Labels: area/kubernetes

fix(kubernetes): fixing piped helmrelease
  kubernetes/apps/selfhosted/piped/app/kustomization.yaml
Labels: area/kubernetes

feat(docker-image): update image pgo to v5.5.0
  kubernetes/apps/database/crunchy-postgres-operator/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart gitlab to 7.6.1
  kubernetes/apps/dev/gitlab/app/helmrelease.yaml
Labels: area/kubernetes

fix(kubernetes): add certificate for gitlab page
  kubernetes/apps/network/ingress-nginx/shared/gitlab-page.yaml
Labels: area/kubernetes

fix(kubernetes): add certificate for gitlab page
  kubernetes/apps/network/ingress-nginx/shared/gitlab-page.yaml
Labels: area/kubernetes

fix(kubernetes): fix gitlab pages tls
  kubernetes/apps/dev/gitlab/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/talos:
  - "infrastructure/talos/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
