Repository trosvald/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/taskfiles, area/talos, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/talos:
  - "infrastructure/talos/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

ci(github-action): update fluxcd/flux2 digest to 62ac960
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 3da7e1c
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 3c06ebc
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 8e3a809
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 6135c32
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 0e7dedc
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 92486b7
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update oxsecurity/megalinter action to v7.7.0
  .github/workflows/lint.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to b742799
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 03b76aa
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 7cf0451
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 7b56fff
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 4c90531
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(github-action): update fluxcd/flux2 digest to 53ad742
  .github/workflows/flux-diff.yaml
Labels: area/ci

feat(docker-image): update image ghcr.io/paperless-ngx/paperless-ngx to v2.1.3
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

refactor: refactor deployed k8s apps
  .envrc
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/infra-cluster.yaml
  kubernetes/apps/dev/kustomization.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/mqtt/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/storage/nfs-subdir/app/helmrelease.yaml
  kubernetes/apps/storage/nfs-subdir/app/kustomization.yaml
  kubernetes/apps/storage/nfs-subdir/ks.yaml
  kubernetes/apps/storage/synology-csi/app/externalsecret.yaml
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
  kubernetes/apps/storage/synology-csi/app/kustomization.yaml
  kubernetes/apps/storage/synology-csi/ks.yaml
  kubernetes/flux/repositories/helm/kubernetes-sigs-nfs-subdir.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/synology-csi.yaml
Labels: area/talos, area/kubernetes

feat(terraform): prepared terraform configs
  kubernetes/apps/infrastructure/kustomization.yaml
  kubernetes/apps/infrastructure/namespace.yaml
  kubernetes/apps/infrastructure/tf-controller/app/externalsecret.yaml
  kubernetes/apps/infrastructure/tf-controller/app/helmrelease.yaml
  kubernetes/apps/infrastructure/tf-controller/app/kustomization.yaml
  kubernetes/apps/infrastructure/tf-controller/ks.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/authentik.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/cloudflare.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/kustomization.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/minio.yaml
Labels: area/kubernetes

refactor: refactor deployed k8s apps
  .taskfiles/Talos.yaml
  infrastructure/talos/clusterconfig/.gitignore
  infrastructure/talos/talenv.sops.yaml
Labels: area/taskfiles, area/talos

refactor: refactor deployed k8s apps
  kubernetes/apps/infrastructure/namespace.yaml
  kubernetes/apps/infrastructure/tf-controller/app/externalsecret.yaml
  kubernetes/apps/infrastructure/tf-controller/app/helmrelease.yaml
  kubernetes/apps/infrastructure/tf-controller/app/kustomization.yaml
  kubernetes/apps/infrastructure/tf-controller/ks.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/authentik.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/cloudflare.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/kustomization.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/minio.yaml
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/storage/nfs-subdir/app/helmrelease.yaml
  kubernetes/apps/storage/nfs-subdir/app/kustomization.yaml
  kubernetes/apps/storage/nfs-subdir/ks.yaml
  kubernetes/apps/storage/synology-csi/app/externalsecret.yaml
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
  kubernetes/apps/storage/synology-csi/app/kustomization.yaml
  kubernetes/apps/storage/synology-csi/ks.yaml
  kubernetes/flux/repositories/helm/kubernetes-sigs-nfs-subdir.yaml
  kubernetes/flux/repositories/helm/synology-csi.yaml
Labels: area/kubernetes

chore(docker-image): update image ghcr.io/onedr0p/github-actions-runner to 97b74a2
  kubernetes/apps/dev/actions-runner-controller/runners/home-cluster.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/infra-cluster.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/vyos-config.yaml
Labels: area/kubernetes

fix(deps): update budimanjojo/talhelper to 1.16.4
  .taskfiles/Talos.yaml
Labels: area/taskfiles

fix(deps): update siderolabs/kubelet to 1.28.5
  .taskfiles/Talos.yaml
Labels: area/taskfiles

fix(docker-image): update image docker.io/thecodingmachine/gotenberg to v7.10.2
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart authentik to 2023.10.5
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart cert-manager to v1.13.3
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart cilium to 1.14.5
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/talos, area/kubernetes

fix(helm-chart): update chart democratic-csi to 0.14.3
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nfs/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart external-secrets to 0.9.11
  kubernetes/apps/security/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart grafana to 7.0.19
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart k8tz to 0.14.1
  kubernetes/apps/system-controllers/k8tz/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart kubelet-csr-approver to 1.0.6
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/apps/system-controllers/kubelet-csr-approver/app/helmrelease.yaml
Labels: area/talos, area/kubernetes

fix(helm-chart): update chart piped to 4.1.1
  kubernetes/apps/selfhosted/piped/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart reloader to 1.0.56
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart weave-gitops to 4.0.36
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(deps): update flux
  .github/workflows/flux-diff.yaml
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/ci, area/kubernetes

feat(deps): update ishioni/talos-images to 1.6.0
  .taskfiles/Talos.yaml
Labels: area/taskfiles

feat(deps): update kubernetes-csi-addons to v0.8.0
  kubernetes/flux/repositories/git/kubernetes-csi-addons.yaml
Labels: area/kubernetes

feat(docker-image): update image actions-runner-controller-charts/gha-runner-scale-set to v0.8.1
  kubernetes/apps/dev/actions-runner-controller/runners/home-cluster.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/infra-cluster.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/vyos-config.yaml
Labels: area/kubernetes

feat(docker-image): update image actions-runner-controller-charts/gha-runner-scale-set-controller to v0.8.1
  kubernetes/apps/dev/actions-runner-controller/operator/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update image app-template to v2.4.0
  kubernetes/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/apps/home-automation/mqtt/app/helmrelease.yaml
  kubernetes/apps/monitoring/alertmanager/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/apps/security/authentik/redis/helmrelease.yaml
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/redis/helmrelease.yaml
Labels: area/kubernetes
