Repository trosvald/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/taskfiles, area/talos, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/talos:
  - "infrastructure/talos/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

chore: fix config typo
  kubernetes/apps/monitoring/loki/app/externalsecret.yaml
Labels: area/kubernetes

chore: fix config typo
  kubernetes/apps/security/authentik/app/postgresCluster.yaml
  kubernetes/apps/security/external-secrets/cluster-secrets/pgo-s3-creds.yaml
Labels: area/kubernetes

chore: fix typo
  kubernetes/apps/monitoring/loki/app/externalsecret.yaml
Labels: area/kubernetes

chore: fix typo
  kubernetes/apps/monitoring/loki/app/externalsecret.yaml
Labels: area/kubernetes

chore: fix typo
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/selfhosted/atuin/app/postgresCluster.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix(kubernetes): fix s3 config talos-backup
  kubernetes/apps/talos-system/talos-backup/app/externalsecret.yaml
Labels: area/kubernetes

fix(kubernetes): fix vector aggregator LB static IP
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

chore: enable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

chore: enable authentik
  kubernetes/apps/security/authentik/app/postgresCluster.yaml
Labels: area/kubernetes

chore: enable authentik
  kubernetes/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes

chore: disable authentik
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

fix: snapshot-controller config
  kubernetes/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore: enable gitlab
  kubernetes/apps/dev/gitlab/app/helmrelease.yaml
  kubernetes/apps/dev/gitlab/app/kustomization.yaml
  kubernetes/apps/dev/gitlab/app/postgresCluster.yaml
  kubernetes/apps/dev/gitlab/ks.yaml
  kubernetes/apps/dev/kustomization.yaml
Labels: area/kubernetes

chore: disable esphome
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

chore: enable gitlab
  kubernetes/apps/dev/gitlab/app/kustomization.yaml
Labels: area/kubernetes

fix: add gitlab chart
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: gitlab minio ingress
  kubernetes/apps/dev/gitlab/app/helmrelease.yaml
Labels: area/kubernetes

chore: enable authentik pgsql
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

chore: enable authentik server
  kubernetes/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes

fix: fix authentik external secrets config
  kubernetes/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes

fix: flux-system addons
  kubernetes/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/app/monitoring/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/app/monitoring/podmonitor.yaml
  kubernetes/apps/flux-system/add-ons/app/monitoring/prometheusrule.yaml
  kubernetes/apps/flux-system/add-ons/app/notifications/alertmanager/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/app/notifications/alertmanager/notification.yaml
  kubernetes/apps/flux-system/add-ons/app/notifications/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/app/notifications/telegram/alert.yaml
  kubernetes/apps/flux-system/add-ons/app/notifications/telegram/externalsecret.yaml
  kubernetes/apps/flux-system/add-ons/app/notifications/telegram/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/app/notifications/telegram/provider.yaml
  kubernetes/apps/flux-system/add-ons/ks.yaml
  kubernetes/apps/flux-system/add-ons/monitoring/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/notifications/github/alert.yaml
  kubernetes/apps/flux-system/add-ons/notifications/github/externalsecret.yaml
  kubernetes/apps/flux-system/add-ons/notifications/github/provider.yaml
  kubernetes/apps/flux-system/add-ons/notifications/telegram/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/externalsecret.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/ingress.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/receiver.yaml
Labels: area/kubernetes

fix: flux-system addons
  kubernetes/apps/flux-system/add-ons/app/notifications/alertmanager/notification.yaml
Labels: area/kubernetes

feat(k8s): add local static assets bucket
  kubernetes/apps/network/cdn/app/configmap.yaml
  kubernetes/apps/network/cdn/app/helmrelease.yaml
  kubernetes/apps/network/cdn/app/kustomization.yaml
  kubernetes/apps/network/cdn/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

feat(terraform): fix config authentik terraform
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/authentik/system.tf
Labels: area/terraform

chore: delete terraform and disable grafana
  infrastructure/terraform/.envrc
  infrastructure/terraform/authentik/applications.tf
  infrastructure/terraform/authentik/customization.tf
  infrastructure/terraform/authentik/directory.tf
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/authentik/oauth2_application/main.tf
  infrastructure/terraform/authentik/oauth2_application/variables.tf
  infrastructure/terraform/authentik/proxy_application/main.tf
  infrastructure/terraform/authentik/proxy_application/outputs.tf
  infrastructure/terraform/authentik/proxy_application/variables.tf
  infrastructure/terraform/authentik/stages-prompt_fields.tf
  infrastructure/terraform/authentik/stages.tf
  infrastructure/terraform/authentik/system.tf
  infrastructure/terraform/cloudflare/secret.sops.yaml
  infrastructure/terraform/secrets.sops.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, area/terraform

fix: fix gitlab saml configuration
  kubernetes/apps/dev/gitlab/app/externalsecret.yaml
Labels: area/kubernetes

feat(helm-chart): update chart k8tz to 0.15.0
  kubernetes/apps/system-controllers/k8tz/app/helmrelease.yaml
Labels: area/kubernetes

refactor: reconfig grafana
  kubernetes/apps/monitoring/grafana/app/dashboard/home.json
  kubernetes/apps/monitoring/grafana/app/dashboard/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/db/kustomization.yaml
  kubernetes/apps/monitoring/grafana/db/postgresCluster.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/scrapeconfigs/minio.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/namespace.yaml
Labels: area/kubernetes

chore: enable grafana
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix: grafana pgsql db
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana pgsql db
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana pgsql db config
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: disable grafana
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

feat(deps)!: Update dashboard Kubernetes / System / CoreDNS to v14
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(deps)!: Update dashboard Kubernetes / Views / Global to v33
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(deps)!: Update dashboard Kubernetes / Views / Namespaces to v31
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(deps)!: Update dashboard Kubernetes / Views / Nodes to v24
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: enable grafana
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

chore: disable grafana
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

refactor: talos
  infrastructure/talos/apply-clusterconfig.sh
  infrastructure/talos/clusterconfig/.gitignore
  infrastructure/talos/deploy-integrations.sh
  infrastructure/talos/extras/.gitignore
  infrastructure/talos/extras/cni/kustomization.yaml
  infrastructure/talos/extras/cni/transformers.yaml
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  infrastructure/talos/extras/csr-approver/transformers.yaml
  infrastructure/talos/generate-clusterconfig.sh
  infrastructure/talos/reset.sh
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
  infrastructure/talos/talsecret.sops.yaml
  talos/deploy-integrations.sh
  talos/talenv.sops.yaml
  talos/talsecret.sops.yaml
Labels: area/talos
