Repository trosvald/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/taskfiles, area/talos, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/taskfiles:
  - ".taskfiles/**/*"
area/talos:
  - "infrastructure/talos/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

feat(docker-image): update image ghcr.io/angelnu/cni-plugins to v1.4.0
  kubernetes/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update image ghcr.io/atuinsh/atuin to v17.1.0
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update image ghcr.io/bjw-s/k8s-ycl to v0.2.0
  kubernetes/apps/system-controllers/k8s-ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update image ghcr.io/esphome/esphome to v2023.12.5
  kubernetes/apps/home-automation/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update image k8s-ycl to v1.2.0
  kubernetes/apps/system-controllers/k8s-ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update image quay.io/thanos/thanos to v0.33.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart gitlab to 7.7.0
  kubernetes/apps/dev/gitlab/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart ingress-nginx to 4.9.0
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart intel-device-plugins-gpu to 0.29.0
  kubernetes/apps/system/intel-device-plugins/gpu/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart intel-device-plugins-operator to 0.29.0
  kubernetes/apps/system/intel-device-plugins/operator/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart loki to 5.41.4
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart node-feature-discovery to 0.15.0
  kubernetes/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart redis to 18.6.1
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart rook-ceph to v1.13.1
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart rook-ceph-cluster to v1.13.1
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update chart thanos to 12.20.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

ci(github-action)!: Update actions/labeler action to v5
  .github/workflows/meta-labeler.yaml
Labels: area/ci

ci(github-action)!: Update allenporter/flux-local action to 4.2.1
  .github/workflows/flux-diff.yaml
Labels: area/ci

feat(docker-image)!: Update image ghcr.io/mendhak/http-https-echo to v31
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart)!: Update chart kube-prometheus-stack to 55.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart snapshot-controller to 2.0.4
  kubernetes/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart reloader to 1.0.58
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update budimanjojo/talhelper to 1.16.5
  .taskfiles/Talos.yaml
Labels: area/taskfiles

feat(docker-image): update image ghcr.io/paperless-ngx/paperless-ngx to v2.2.0
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

refactor: refactor cilium config
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/loadbalancerippool.yaml
Labels: area/kubernetes

fix(docker-image): update image ghcr.io/paperless-ngx/paperless-ngx to v2.2.1
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update chart kube-prometheus-stack to 55.5.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: flux cluster secrets
  infrastructure/talos/apply-clusterconfig.sh
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/talos, area/kubernetes

fix: flux cluster secrets
  .taskfiles/Flux.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
Labels: area/taskfiles, area/kubernetes

fix: flux cluster secrets
  kubernetes/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/kube-system/cilium/app/loadbalancerippool.yaml
Labels: area/kubernetes

chore: fix typo
  kubernetes/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
Labels: area/kubernetes

chore: fix typo
  kubernetes/apps/system/node-feature-discovery/ks.yaml
Labels: area/kubernetes

chore: fix typo
  kubernetes/apps/monitoring/alertmanager/app/config/alertmanager.yml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: fix typo
  kubernetes/apps/monitoring/alertmanager/app/config/alertmanager.yml
Labels: area/kubernetes

chore: fix typo
  kubernetes/apps/monitoring/alertmanager/app/config/alertmanager.yml
Labels: area/kubernetes

chore: fix typo
  kubernetes/apps/monitoring/alertmanager/app/config/alertmanager.yml
Labels: area/kubernetes

chore: disable alertmanager
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

chore: enable alertmanager
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

chore: fix config typo
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/system/volsync/ks.yaml
Labels: area/kubernetes

chore: fix config typo
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
Labels: area/kubernetes
